* {
  box-sizing: border-box;
}

body {
  background-color: salmon;
}

table, th, td, tr, tbody, thead, tfoot {
  border: 2px;
  border-style: solid;
  color: black;
  padding: 2px 2px;
}

tr {
  font-weight: bold;
}
h1 {
  color: darkblue;
}
/* td {
color: black;
} */